<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.nightscout.danaaps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="info.nightscout.danaaps.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:process=":mainProcess"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c768f534949bb913ea0c73f41cfa4ed582ef8ec8"
            />
        <activity
            android:name="info.nightscout.danaaps.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="info.nightscout.danaaps.PreferencesActivity"
            android:label="@string/title_activity_preferences"
            android:parentActivityName="info.nightscout.danaaps.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.nightscout.danaaps.MainActivity" />
        </activity>

        <receiver
            android:name="info.nightscout.danar.ReceiverKeepAlive"
            android:process=":mainProcess">
            <intent-filter>
                <action android:name="danaapp.danaapp.ReceiverKeepAlive.action.PING" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="info.nightscout.danaaps.ReceiverBG"
            android:exported="true"
            android:process=":mainProcess">
            <intent-filter>
                <action android:name="danaR.action.BG_DATA" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="info.nightscout.client.receivers.NSClientDataReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":mainProcess">
            <intent-filter>
                <action android:name="info.nightscout.client.NEW_TREATMENT" />
                <action android:name="info.nightscout.client.CHANGED_TREATMENT" />
                <action android:name="info.nightscout.client.REMOVED_TREATMENT" />
                <action android:name="info.nightscout.client.NEW_PROFILE" />
                <action android:name="info.nightscout.client.NEW_SGV" />
                <action android:name="info.nightscout.client.NEW_STATUS" />
            </intent-filter>
        </receiver>

        <service
            android:name="info.nightscout.danar.ServiceConnection"
            android:exported="false"
            android:process=":mainProcess">
            <intent-filter>
                <action android:name="danaapp.danaapp.ServiceConnection" />
            </intent-filter>
        </service>
        <service
            android:name="info.nightscout.danaaps.services.ServiceBG"
            android:exported="false"
            android:process=":mainProcess" />
        <service
            android:name="info.nightscout.danar.alarm.ServiceAlarm"
            android:exported="false"
            android:process=":mainProcess" />

    </application>

</manifest>
